/* TODO: Media queries */

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
.container {
    text-align: center;
    margin-top: 50px;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
}
.game-title {
    text-align: left;
}
.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.active {
    .arrow {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }
    .pic {
        border: 10px solid var(--fh-mint);
    }
    .score {
        color: var(--fh-mint);
    }
}
#arrow-wrapper {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.arrow {
    height: 100px;
    width: 100px;
    background-image: url(../images/arrow_black.png);
    transition: transform 0.3s;
}
.player-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right:100px;
    background-color: var(--light-gray);
    text-align: center;
    font-size: var(--large);
    font-weight: 600;
    border-radius: var(--corner-medium);
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: black;
}
.pic {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: var(--corner-medium);
    transition: 0.2s;
}
.player-name {
    margin-top: 0px;
    margin-bottom: 20px;
}
.score {
    font-size: var(--xlarge);
    color: white;
    background-color: #000000;
    border-radius: var(--corner-medium);
    margin-bottom: 20px;
    width: 100%;
    transition: 0.2s;
}
.score:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.throw-history {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    width: 100%;
    color: black;
}
.throw {
    font-size: var(--large);
    font-weight: 600;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--corner-small);
    width: 50px;
    height: 50px;
}
.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.history-table {
    margin-top: 50px;
}